/* populate variables */
:root {
    --background-primary: var(--background-color);
    --background-secondary: var(--background-color);
    --background-secondary-alt: var(--background-color);
    --background-tertiary: var(--background-color);
    --background-floating: var(--background-color);
    --background-accent-1: var(--background-color);
    --background-accent-3: var(--background-color);
    --background-floating-2: var(--background-color);
    --toast-background: var(--background-color);
    --toast-header: var(--background-color);
    --toast-contents: var(--background-color);
    --toast-border: var(--background-color);
    --channeltextarea-background: var(--background-color);
    --activity-card-background: var(--background-color);
    --deprecated-panel-background: var(--background-color);
    --deprecated-card-bg: var(--background-color);
    --deprecated-card-editable-bg: var(--background-color);
    --deprecated-store-bg: var(--background-color);
    --deprecated-quickswitcher-input-background: var(--background-color);
    --deprecated-quickswitcher-input-placeholder: var(--background-color);
    --brand-experiment: var(--text-link) !important;
}
/* use font everywhere */
body { font-family: var(primary) !important; }
/* reactions popup */
.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: var(--background-color); }
.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: var(--background-color); }
/* server boost background */
.perksModalContentWrapper-2HU6uL { background: var(--background-color); }
/* channel creation */
.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y { background-color: var(--background-color); }
.modal-2VIBV8.root-1gCeng > .footer-2gL1pp { background-color: var(--background-color); }
/* any type of confirmation box */
.theme-dark .message-2qRu38 { background-color: var(--background-color); }
.theme-dark .root-1gCeng { background-color: var(--background-color); }
.theme-dark .footer-2gL1pp { background-color: var(--background-color); }
/* friends list */
.peopleColumn-29fq28 { background-color: var(--background-color); }
.section-2gLsgF { background-color: var(--background-color); }
/* mentions list */
.autocompleteInner-zh20B_ { background-color: var(--background-color); }
.selectorSelected-1_M1WV { background-color: var(--background-color); }
/* profile popouts */
.theme-dark .body-3iLsc4 { background-color: var(--background-color); }
.theme-dark .footer-1fjuF6 { background-color: var(--background-color); }
.input-cIJ7To { background-color: var(--background-color); }
.headerTop-3C2Zn0 { background-color: var(--background-color); }
.activityUserPopout-2yItg2 { background-color: var(--background-color); }
.activity-11LB_k { background-color: var(--background-color); }
/* upload popup */
.theme-dark .footer-3mqk7D { background-color: var(--background-color); }
.inner-3nWsbo { background-color: var(--background-color); }
.theme-dark .uploadModal-2ifh8j { background-color: var(--background-color); }
/* group chat backgrounds */
.videoGrid-1khsrF { background-color: var(--background-color); }
/* search results */
#search-results { background-color: var(--rs-avatar-shape) !important; }
/* radial status VC */
.avatar-3tNQiO{ border-radius: var(--rs-avatar-shape) !important; }
/* embed author radial */
.embedAuthorIcon--1zR3L{ border-radius: var(--rs-avatar-shape); }
/* server radial */
foreignObject{
    mask: none !important;
    border-radius: var(--rs-avatar-shape) !important;
}
.wrapper-25eVIn { border-radius: var(--rs-avatar-shape) !important; }
