/*Collapsible search bar*/
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb { width: 27px; transition: 0.25s; background-color: transparent;}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb { width: 240px; transition: 0.25s; background-color: var(--background-tertiary);}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN { transform: scale(1.2); transition: 0.25s;}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN { transform: scale(1); transition: 0.25s;}

/* Hide Help button */
div[aria-label="Hilfe"] {
  display: none;
}

/* Hide Nitro gift button */
button[aria-label="Ein Geschenk senden"] {
  display: none;
}

/* Hide member list button */
div[aria-label="Mitgliederliste"] {
  display: none;
}

/*Collapse member list*/
.membersWrap-2h-GB4 {
    min-width: unset;
}
.members-1998pB {
    max-width: 65px;
    min-width: 65px;
    transition: .3s ease;
}
.members-1998pB:hover {
    max-width: 240px;
    min-width: 240px;
}

/*Color all emojis*/
.emojiItemDisabled-1FvFuF {
    filter: grayscale(0%);
}

/*Rename bots tag*/
.botText-1526X_ {
    text-indent: -9999px;
    line-height: 0 !important;
}
.botText-1526X_:after {
    content: 'Digitaler Assistent für die Discord-Platform';
    text-indent: 0;
    display: block;
    line-height: initial !important;
}
.px-10SIf7 .botText-1526X_:after {
    content: '';
}

/** Messages pillbar v1.1-burrito Bottom */
.barBase-1c2Rfb {
    bottom: 1.6rem;
    top: auto;
    padding-bottom:0;
}
.newMessagesBar-265mhP {
    width: 50%;
    left: auto;
    right: 12px;
    border-radius: 0.7rem 0 0 0.7rem;
}
.jumpToPresentBar-G1R9s6 {
    width: 45%;
    right: auto;
    left: 0;
    border-radius:0 0.7rem 0.7rem 0;
}

/*Better user popout*/
.avatar-37jOim:hover{
    transform:scale(1.6);
    border:solid;
    border-radius:5px !important;
    background-color:rgb(58, 58, 101) !important;
    border-color:rgb(58, 58, 101) !Important;
    border-width:0.04cm;
    margin-top:-25%;
    margin-left:30%;
    transition:250ms;
}
.avatarHintInner-1TvA8u{
    opacity:0;
}
.avatar-37jOim:hover .avatarHint-2A3RNb > foreignObject {
    mask: none !important;
} 
.avatar-37jOim:hover .mask-1l8v16 > foreignObject { 
    mask: none !important; 
    border-radius:5px;
}

/*Greentext quotes*/
[class*="blockquoteDivider-"] {
    width: 0 !important;
}
[class*="blockquoteDivider-"]::before {
    content: ">";
}
[class*="blockquoteContainer-"] blockquote,
[class*="blockquoteDivider-"]::before {
    color: lightgreen;
}
/* 2-line topic */
[class*="chat-"] > [class*="title-"] > [class*="children-"] > [class*="topic-"] {
    white-space: normal;
    max-height: 2.4em;
    font-size: .9em;
    line-height: 1.2em;
    text-overflow: ellipsis;
    position: relative;
}
[class*="chat-"] > [class*="title-"] > [class*="children-"]::after {
    content: unset;
}
[class*="chat-"] > [class*="title-"] > [class*="children-"] > [class*="topic-"]::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1em;
    background: linear-gradient(to right, transparent, var(--background-primary), var(--background-primary)) !important;
    display: flex;
    width: 130px;
}
/* thicc emojis */
.emoji.jumboable {
    width: 10rem;
    height: 10rem;
    min-height: 10rem;
}
/* roll name scrollbar */
.roleName-32vpEy {
    overflow: auto;
    text-overflow: unset;
    scrollbar-width: none;
}
